.fruits{
    border: 2px solid grey;
    color: #145eff;
    text-align: center;
    padding: 15px;



}
.cars{
    text-align: center;
    background-color: #00ffea;

}
#kenya{
    font-family: "Bitstream Charter";
    color: cornflowerblue;
    font-size: large;
    bac
}
#tanzania{
    font-family: Dyuthi;
    color: black;
    font-size: larger;
    backgr
}
#uganda{
    font-family: Loma;
    color: darkgreen;
}
